#stakers-details .content {
  background: #FFF;
  padding-top: 200px;
}

#stakers-details .header {
  margin: 0px auto 60px;
  top: 8px;
  left: 20px;
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

.mask-animation-container {
  position: relative;
  display: inline-flex;
}

/* Short Description Section */

.short-description {
  margin: 61px auto 0px;
  background-image: url(../img/simple-callout-bg.png);
  background-size: 478px 394px;
  height: 394px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
}

.short-description .interested {
  color: #12063D;
  max-width: 531px;
  font-size: 46px;
  font-weight: 600;
  letter-spacing: 0.4px;
  line-height: 70px;
  text-align: center;
}


/* Squiggle Styles */
.content .squiggle {
  margin: 50px auto;
}

/* Long Description Styles */

.long-description {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 72px;
}

.long-description .stake {
  max-width: 532px;
  color: #12063D;
  font-size: 23px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 33px;
  text-align: center;
  margin: 0px auto 72px;
}

.long-description .getting-started {
  border-radius: 30.5px;
  background-color: #CC0FE0;
  box-shadow: 0 5px 6px -3px rgba(0,0,0,0.15);
  padding: 14px 32px;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  margin: 0px auto 13px;
}

.long-description .getting-started:hover {
  background-color: #A116B7;
  box-shadow: 0 10px 8px -5px rgba(0,0,0,0.15);
}

.long-description .wiki {
  max-width: 284px;
  opacity: 0.5;
  color: #12063D;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.15px;
  line-height: 25px;
  text-align: center;
}

/* Contact Styles */
.contact {
  position: relative;
  height: 400px;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.contact .background {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, #F33470 0%, #6301EB 100%);
}

.contact .form-container {
  z-index: 1;
}

.contact .help {
  max-width: 532px;
  color: #FFFFFF;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0.28px;
  line-height: 44px;
  text-align: center;
  padding: 107px 0px 29px;
  z-index: 1;
}

.contact .shapes {
  position: absolute;
  z-index: 0;
  top: 24%;
  left: 50%;
  right: -36%;
}

.contact .shapes img {
  width:100%;
}

.contact #mc-embedded-staker-form {
  height: 70px;
  width: 533px;
  border: 1px solid rgba(133,129,154,0.5);
  border-radius: 34.5px;
  background-color: #FFFFFF;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.contact .email {
  flex: 1;
  margin-left: 20px;
}

.contact .email::-webkit-input-placeholder, /* Edge */
.contact .email::-webkit-input-placeholder, /* Internet Explorer 10-11 */
.contact .email::placeholder { /* Edge */
  color: #CC0FE0;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.15px;
  line-height: 21px;
}

.contact .standard-button {
  height: 52px;
  width: 120px;
  border-radius: 30px;
  background-color: #12063D;
  margin-right: 9px;
}

@media screen and (max-width: 1019px) {
  #stakers-details .content {
    padding-top: 16px;
  }
 
  #stakers-details .header {
    margin-bottom: 16px;
  }
 
  
  /* Short Description Section */

  .short-description {
    margin: 0px;
    background-image: url(../img/simple-callout-bg.png);
    background-size: 380px;
    height: 380px;
  }

  .short-description .interested {
    font-size: 32px;
    line-height: inherit;
  }
 
  .long-description {
    margin-bottom: 32px;
  }
 
  .contact .shapes {
    top: 10%;
    left: 10%;
    right: -10%;
    opacity: 0.2;
  }
 
  .contact #mc-embedded-staker-form {
    width: 100%;
  }
  
}