#careers-details .content {
  background: #FFF;
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  margin-bottom: 120px;
}

#careers-details .header {
  margin: 0px auto 0px;
  top: 8px;
  left: 20px;
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

.mask-animation-container {
  position: relative;
  display: inline-flex;
}

#who-we-are h2 {
  margin: 0;
}

#who-we-are .header {
  margin-bottom: 32px;
}

#who-we-are p {
  max-width: 1024px;
  margin: 0 auto;
  font-size: 23px;
  line-height: 40px;
  text-align: center;
  color: #12063d;
}

#team-images {
  z-index: 10;
  display: flex;
  margin: 0 auto;
  max-width: 1024px;
  margin-bottom: 120px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1020px){
  #team-images {
    flex-wrap: wrap;
  }
}

#team-images > * {
  width: 100%;
}

#team-images .imageWrapper {
  text-align: center;
  padding: 8px;
}

#team-images img {
  margin: 0 auto;
  max-width: 504px;
  width: 100%;
  overflow: hidden;
  box-shadow: 0px 5px 5px -2px rgba(18, 6, 61, 0.1);
  border-radius: 16px;
}

#about-the-company {
  margin-bottom: 180px;
}

#about-the-company .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#about-the-company .header {
  margin-bottom: 32px;
}

#about-the-company h2 {
  margin: 0;
  color: #05BCD4;
}

#about-the-company p {
  max-width: 1024px;
  margin: 0 auto 32px;
  font-size: 23px;
  line-height: 40px;
  text-align: center;
  color: #12063d;
}

#newsletter .header {
  text-align: center;
}

.learn-more {
  z-index: 1;
  border: 0 solid #FFFFFF;
  border-radius: 39px;
  background-color: #FFFFFF;

  color: #16172B;
  font-size: 18px;
  font-weight: 800;
  line-height: 20px;
  text-align: center;
  padding: 16px 32px;
  transition: all 0.15s ease-in-out;
}

.learn-more:hover {
  box-shadow: 0 15px 15px -2px rgba(0,0,0,0.25);
}