.mask {
  max-height: 300px;
  position: relative;
  z-index: 5;
  display: block;
  max-width: 100%;
  object-fit: contain;
}

.animation {
  position: absolute;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  top: 1px;
  left: 1px;
  background-color: #12063d;
  overflow: hidden;
}


.sphere:not(.parallax-sphere) {
  position: absolute;
  z-index: 3;
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
  -webkit-animation-name: header-sphere-clockwise;
  animation-name: header-sphere-clockwise;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.sphere:not(.parallax-sphere).orange {
  -webkit-transform-origin: top right;
  transform-origin: top right;
  top: 0;
  left: 0;
}

.sphere:not(.parallax-sphere).orange-opaque {
  -webkit-transform-origin: center right;
  transform-origin: center right;
  top: 0;
  left: 0;
  -webkit-animation-duration: 50s;
  animation-duration: 50s;
  z-index: 4;
  background-image: url(../img/sphere-orange-opaque.png);
  width: 193px;
  height: 193px;
}

.sphere:not(.parallax-sphere).teal {
  -webkit-transform-origin: bottom right;
  transform-origin: bottom right;
  top: 0;
  left: 0;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
  background-image: url(../img/sphere-teal.png);
  width: 311px;
  height: 311px;
}

.sphere:not(.parallax-sphere).purple-glow {
  -webkit-transform-origin: center right;
  transform-origin: center right;
  top: 0;
  right: 0;
  -webkit-animation-name: header-sphere-counter;
  animation-name: header-sphere-counter;
  background-image: url(../img/sphere-purple-glow.png);
  width: 414px;
  height: 414px;
}

@media not all, 
(-webkit-min-device-pixel-ratio: 1.3), 
not all, (min-resolution: 1.3dppx) {
  .sphere:not(.parallax-sphere).orange {
    background-image: url(../img/sphere-orange@2x.png);
    background-size: 366px 366px;
  }

  .sphere:not(.parallax-sphere).orange-opaque {
    background-image: url(../img/sphere-orange-opaque@2x.png);
    background-size: 193px 193px;
  }

  .sphere:not(.parallax-sphere).teal {
    background-image: url(../img/sphere-teal@2x.png);
    background-size: 311px 311px;
  }

  .sphere:not(.parallax-sphere).purple-glow {
    background-image: url(../img/sphere-purple-glow@2x.png);
    background-size: 414px 414px;
  }
}

