# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# build
/out
/.next

# distribution
/dist

# misc
.DS_Store
.env.local
.env.dev.local
.env.test.local
.env.prod.local
.env.git
*.swp
yarn.lock
react-app-env.d.ts
.vscode
.log
.eslintcache

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea
