.leadership {

}

@media screen and (min-width: 1020px) {
  .row.two-columns.leadership {
    justify-content: center !important;
  }
}

.row.three-columns {
  justify-content: center !important;
}

#investors ul {
  justify-content: center !important;
}

@media screen and (max-width: 1019px) {
  #person-modal {
    display: none;
  }
}