.api {
  @import './guitar-blocks';

  #subpage-intro .container,
  #subpage-intro h1,
  #subpage-intro img {
    height: 100% !important;
  }

  #dev-details .dev-header {
    margin: 0px auto 60px;
    top: 8px;
    left: 20px;
    display: inline-flex;
    justify-content: center;
    width: 100%;
  }

  .mask-animation-container {
    position: relative;
    display: inline-flex;
  }

  #trigger-popup {
    height: 0;
  }

  /* Short Description Section */

  .short-description {
    margin: 61px auto 0px;
    background-image: url(../img/simple-callout-bg.png);
    background-size: 478px 394px;
    height: 394px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
  }

  .short-description .interested {
    color: #12063d;
    max-width: 531px;
    font-size: 46px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 70px;
    text-align: center;
  }

  /* Squiggle Styles */
  .content .squiggle {
    margin: 50px auto;
  }

  /* Long Description Styles */

  .long-description {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .long-description .stake {
    max-width: 532px;
    color: #12063d;
    font-size: 23px;
    font-weight: 500;
    letter-spacing: 0.2px;
    line-height: 33px;
    text-align: center;
    margin: 0px auto 72px;
  }

  .button {
    border-radius: 30.5px;
    background-color: #cc0fe0;
    box-shadow: 0 5px 6px -3px rgba(0, 0, 0, 0.15);
    padding: 14px 32px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    margin: 0px auto 13px;
    display: inline-flex;
  }

  .button:hover {
    background-color: #a116b7;
    box-shadow: 0 10px 8px -5px rgba(0, 0, 0, 0.15);
  }

  .long-description .building-dapp {
    max-width: 813px;
    color: #12063d;
    font-size: 27px;
    font-weight: bold;
    letter-spacing: 0.23px;
    line-height: 36px;
    text-align: center;
  }

  .long-description .github {
    margin-left: 8px;
  }

  .block-string-container {
    margin-bottom: 64px;
  }

  .api {
    background: url('../img/apiBG@2x.png');
    background-size: cover;
    box-shadow: 0px 4px 30px -2px rgba(107, 29, 236, 0.4);
    border-radius: 12px;
    width: 1024px;
    height: 468px;
    margin-bottom: 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .api > img {
    width: 250px;
  }

  .api-docs {
    transition: all 0.07s ease-in-out;
    border-radius: 35.5px;
    background-color: #ffffff;
    color: #b031e7;
    box-shadow: 0 5px 8px -2px rgba(0, 0, 0, 0.2);
    padding: 22px 36px;

    font-size: 23px;
    font-weight: bold;
    margin-bottom: 64px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .api-docs:hover {
    box-shadow: 0 15px 15px -2px rgba(0, 0, 0, 0.25);
    transform: scale3d(1.04, 1.04, 1.04);
  }

  .api-docs:active {
    transform: scale3d(0.99, 0.99, 0.99);
  }

  .api-docs .player-description {
    margin-right: 8px;
  }

  .api-docs .click {
    display: inline-flex;
    align-items: center;
  }

  .api-docs .click:hover {
    text-decoration: underline;
  }

  .icon-open {
    margin-left: 16px;
  }

  @media screen and (max-width: 1019px) {
    #dev-details .content {
      padding-top: 16px;
    }

    #dev-details .header {
      margin-bottom: 16px;
    }

    /* Short Description Section */

    .short-description {
      margin: 0px;
      background-image: url(../img/simple-callout-bg.png);
      background-size: 380px;
      height: 380px;
    }

    .short-description .interested {
      font-size: 32px;
      line-height: inherit;
    }

    /* Squiggle Styles */
    .content .squiggle {
      margin: 0px auto 16px;
    }

    .long-description {
      margin-bottom: 32px;
    }

    .dapp .hedgehogLogo {
      margin: 48px 0px 32px;
    }

    .dapp .building-header {
      padding: 0px 16px;
      line-height: inherit;
      font-size: 28px;
    }

    .dapp .building-description {
      padding: 0px 16px;
      font-size: 20px;
    }

    .dapp .shapes {
      top: 10%;
      left: 10%;
      right: -10%;
      opacity: 0.2;
    }
  }

  .why {
    min-height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 64px;
  }

  @media screen and (max-width: 1019px) {
    .why {
      margin-top: 80px;
      flex-direction: column;
    }
  }

  .why .left {
    width: 333px;
    padding-right: 63px;
    font-weight: 900;
    font-size: 64px;
    line-height: 72px;
    text-align: right;
    text-transform: capitalize;
    background-image: linear-gradient(315deg, #5b23e1 2.04%, #a22feb 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    user-select: none;
  }

  @media screen and (max-width: 1019px) {
    .why .left {
      text-align: center;
      padding: 0px;
      margin-bottom: 40px;
    }
  }

  .why .right {
    border-left: 1px solid #ccd5e7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 37px;
  }

  @media screen and (max-width: 1019px) {
    .why .right {
      border: none;
      margin-bottom: 40px;
    }
  }

  .why .right .reason {
    display: flex;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    text-transform: capitalize;
    color: #12063d;
  }

  @media screen and (max-width: 1019px) {
    .why .right .reason {
      font-size: 18px;
    }
  }

  .reason .circle {
    background: linear-gradient(180deg, #06bcd4 0%, #3fe5d8 100%);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    margin-bottom: 6px;
  }

  @media screen and (max-width: 1019px) {
    .reason .circle {
      margin-right: 12px;
    }
  }

  .inspiration {
    margin-top: 72px;
  }

  .inspiration .copy {
    font-weight: 600;
    font-size: 45px;
    line-height: 69px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.393388px;
  }

  @media screen and (max-width: 1019px) {
    .inspiration .copy {
      font-size: 24px;
      line-height: 30px;
    }
  }

  #apps {
    padding: 0px 64px;
  }

  @media screen and (max-width: 1019px) {
    #apps {
      padding: 0px 24px;
    }
  }

  #apps .container {
    background: rgba(214, 213, 223, 0.1);
    border: 2px solid rgba(214, 213, 223, 0.5);
    box-sizing: border-box;
    border-radius: 45px;
    max-width: 1316px;
    margin: 0 auto;
    padding: 64px;
  }

  @media screen and (max-width: 1019px) {
    #apps .container {
      padding: 64px 0;
      background: none;
      border: none;
    }
  }

  @media screen and (max-width: 1019px) {
    #apps .content {
      margin: 0 4px;
    }
  }

  #apps .bottom {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 160px;
  }

  #apps .bottom p {
    margin-top: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;

    text-align: center;
    text-transform: capitalize;

    color: #6b1dec;
    cursor: pointer;
  }

  #demo .content {
    display: flex;
  }

  @media screen and (max-width: 1019px) {
    #demo .content {
      flex-direction: column;
    }
  }

  #demo .frame {
    position: relative;
    flex-grow: 1;
    height: 400px;
    margin-right: 60px;
    border: 1px solid #e7e6eb;
    border-radius: 8px;
    overflow: hidden;
  }

  @media screen and (max-width: 1019px) {
    #demo .frame {
      margin: 0 0 40px 0;
    }
  }

  #demo .frame iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    /* transition-delay: 1s; */
  }

  #demo .frame iframe.show {
    /* transition: all 0s; */
    pointer-events: all;
    opacity: 1;
  }

  #demo .selections {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  #demo .selections h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: #12063d;
  }

  #demo .selections button {
    padding: 8px 32px;
    background: #ffffff;
    border: 1px solid #e7e6eb;
    box-shadow: 0px 0px 1px -2px rgba(133, 129, 153, 0.1),
      0px 1px 0px -2px #e3e3e3, 0px 2px 5px -2px rgba(133, 129, 153, 0.25);
    border-radius: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize;
    color: #12063d;
    text-align: center;
    width: 100%;
    min-width: 216px;
    margin: 4px 0px;
    transition: all 0.17s ease-in-out;
  }

  #demo .selections button:hover {
    background: #6b1dec;
    box-shadow: 0px 0px 1px -2px rgba(133, 129, 153, 0.1),
      0px 1px 0px -2px #e3e3e3, 0px 2px 5px -2px rgba(133, 129, 153, 0.25);
    color: #ffffff;
  }

  #demo .selections button.active {
    background: #6b1dec;
    box-shadow: 0px 0px 1px -2px rgba(133, 129, 153, 0.1),
      0px 1px 0px -2px #e3e3e3, 0px 2px 5px -2px rgba(133, 129, 153, 0.25);
    color: #ffffff;
  }

  #demo .selections button.tiny {
    justify-self: flex-end;
    background: #ffffff;
    border: 1px solid #e7e6eb;
    box-shadow: 0px 0px 1px -2px rgba(133, 129, 153, 0.1),
      0px 1px 0px -2px #e3e3e3, 0px 2px 5px -2px rgba(133, 129, 153, 0.25);
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 113.1%;
    text-transform: capitalize;
    color: #7e1bcc;
    padding: 6px 14px;
    width: unset;
    min-width: unset;
    margin-top: auto;
  }

  @media screen and (max-width: 1019px) {
    #demo .selections button.tiny {
      margin-top: 12px;
    }
  }

  #newsletter {
    margin-top: 200px !important;
  }

  #newsletter .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  #newsletter .content img {
    width: 230px;
  }

  #newsletter h3 {
    font-weight: 800;
    font-size: 60px;
    line-height: 75px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1px;

    color: #ffffff;

    text-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);
  }

  #newsletter .learn-more {
    z-index: 1;
    margin-top: 20px;
    border: 0 solid #ffffff;
    border-radius: 39px;
    background-color: #ffffff;

    color: #16172b;
    font-size: 18px;
    font-weight: 800;
    line-height: 20px;
    text-align: center;
    padding: 16px 32px;
    transition: all 0.15s ease-in-out;
  }

  #newsletter .learn-more:hover {
    box-shadow: 0 15px 15px -2px rgba(0, 0, 0, 0.25);
  }

  .person {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    transform-origin: 50% 50%;
  }

  @media screen and (max-width: 1019px) {
    .person {
      width: 100%;
    }
    .person:hover {
      transform: scale(1.02);
    }

    .person:active {
      transform: scale(0.98);
    }
  }

  .person .content {
    margin: 0 10%;
  }

  .person-link .link {
    height: 20px !important;
    width: 20px !important;
  }

  .person-link:hover .link path {
    fill: #ffffff;
  }

  .person .headshot {
    margin-bottom: 8px !important;
    border-radius: unset !important;
    top: 0 !important;

    display: flex;
    align-items: center;
  }

  .person .description {
    padding: 0 24px;
  }

  .person .content {
    background: #ffffff;
    padding: 0;
    border-radius: 33px;
    overflow: hidden;
    transform: translateZ(0);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  }

  .person .description .name {
    font-style: normal;
    font-weight: 800;
    line-height: 28px;
    text-transform: uppercase;
    color: #12063d;
  }

  @media screen and (max-width: 1019px) {
    .modal-container {
      background: #ffffff;
      border-radius: 33px;
      padding: 36px 12px 12px;
    }
  }

  @media screen and (max-width: 1019px) {
    .close-modal {
      top: 0px;
    }
  }

  @media screen and (max-width: 1019px) {
    .close-modal svg path {
      fill: #000000;
    }
  }

  @media screen and (max-width: 1019px) {
    .modal-container img {
      margin-top: 12px;
      border-radius: 8px;
      overflow: hidden;
      margin-bottom: 24px;
    }
  }

  @media screen and (max-width: 1019px) {
    .modal-container .bio {
      margin-top: 12px;
    }
  }
}
