.careers {
  #subpage-intro .container,
  #subpage-intro h1,
  #subpage-intro img {
    height: 100% !important;
  }

  .mask-animation-container {
    position: relative;
    display: inline-flex;
  }

  #who-w-are h2 {
    margin: 0;
  }

  #who-we-are .header {
    margin-bottom: 32px;
  }

  #who-we-are p {
    max-width: 1024px;
    margin: 0 auto;
    margin-bottom: 32px;
    font-size: 23px;
    line-height: 40px;
    text-align: center;
    color: #12063d;
  }

  #team-images {
    z-index: 10;
    display: flex;
    margin: 0 auto;
    max-width: 1024px;
    margin-bottom: 120px;
    justify-content: center;
    align-items: center;
  }

  @media screen and (max-width: 1020px) {
    #team-images {
      flex-wrap: wrap;
    }
  }

  #team-images > * {
    width: 100%;
  }

  #team-images .imageWrapper {
    text-align: center;
    padding: 8px;
  }

  #team-images img {
    margin: 0 auto;
    max-width: 504px;
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 5px 5px -2px rgba(18, 6, 61, 0.1);
    border-radius: 16px;
  }

  #about-the-company {
    margin-bottom: 180px;
  }

  #about-the-company .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #about-the-company .header {
    margin-bottom: 32px;
  }

  #about-the-company h2 {
    margin: 0;
    color: #05bcd4;
  }

  #about-the-company p {
    max-width: 1024px;
    margin: 0 auto 32px;
    font-size: 23px;
    line-height: 40px;
    text-align: center;
    color: #12063d;
  }

  #newsletter .header {
    text-align: center;
  }

  .learn-more {
    z-index: 1;
    border: 0 solid #ffffff;
    border-radius: 39px;
    background-color: #ffffff;

    color: #16172b;
    font-size: 18px;
    font-weight: 800;
    line-height: 20px;
    text-align: center;
    padding: 16px 32px;
    transition: all 0.15s ease-in-out;
  }

  .learn-more:hover {
    box-shadow: 0 15px 15px -2px rgba(0, 0, 0, 0.25);
  }
}
