.main-header {
  .menu-item {
    font-weight: 800;
    letter-spacing: 1.4px;
    font-size: 16px;
    text-transform: uppercase;
    user-select: none;
    display: flex;
    align-items: center;

    .icon {
      margin-right: 12px;
    }

    a {
      color: black;
    }
  }

  .menu-dropdown-trigger {
    .icon {
      height: 26px;
      width: 26px;
    }

    .caret {
      margin-left: 4px;
    }
  }

  .nav-popup {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);

    &::before {
      content: '';
      height: 4px;
      display: block;
    }
  }

  .nav-popup-menu {
    padding: 8px;
    white-space: nowrap;
    background-color: white;
    border: 1px solid #e7e6eb;
    border-radius: 8px;
    box-shadow: 0px 16px 20px 0px #85819926;

    a {
      color: black;
      &:not(:last-child) .menu-item {
        margin-bottom: 4px;
      }
    }

    .menu-item {
      padding: 8px;
      border-radius: 8px;

      &:hover {
        background-color: #f4f4f6;
      }
    }
  }

  .locale-picker {
    .nav-popup-menu {
      .menu-item {
        padding: 4px 8px;
      }
    }
  }

  .nav-popup-container {
    &:not(.secondary) {
      padding: 24px;
      cursor: pointer;
    }

    &.secondary {
      .menu-dropdown-trigger {
        cursor: pointer;
        padding: 4px 12px;
        background-color: #fbfbfc;
        border: 1px solid #d6d5df80;
        border-radius: 7px;
      }

      .nav-popup-menu {
        background-color: #fbfbfc;
        border: 1px solid #d6d5df80;
      }
    }
  }

  .standard-button {
    padding: 12px 36px;
    margin-left: 32px;
  }
}
