.home {
  .small-logo {
    display: none;
  }

  .main-header .menu > div > ul > li > a:not(.standard-button) {
    color: #12063d;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1.4px;
    line-height: 16px;
  }

  .main-header .menu > div > ul > li > a.standard-button {
    height: 54px;
    width: 158.3px;
    border: 0 solid #ffffff;
    border-radius: 30px;
    background-color: #12063d;

    color: #ffffff;
    font-size: 16px;
    font-weight: 800;
    text-align: center;
  }

  .main-header .menu > div > ul > li > a.standard-button:hover {
    color: #ffffff;
    background-color: #a116b7;
  }

  .sticky-menu .main-header .menu > div > ul > li > a:not(.standard-button) {
    color: #16172b;
    font-weight: 700;
  }

  .sticky-menu .main-header .menu > div > ul > li > a.standard-button {
    color: #ffffff;
    background-color: #12063d;
    font-weight: 700;
  }

  .sticky-menu .main-header .menu > div > ul > li > a.standard-button:hover {
    background-color: #a116b7;
  }

  .sticky-menu .small-logo {
    display: block;
  }
  .sticky-menu .large-logo {
    display: none;
  }

  #intro {
    /* overflow: hidden; */
    min-height: 920px;
  }

  #intro .header {
    top: 240px;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 332px);
  }

  #intro .header .main-content {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 56px;
  }

  #intro .header .main-content h2 {
    flex: 0 1 637px;
    font-weight: 800;
    font-size: 96px;
    line-height: 110px;
    text-align: right;
    background-image: linear-gradient(315deg, #5b23e1 2.04%, #a22feb 100%);
    text-shadow: 0px 4px 10px rgba(126, 27, 204, 0.1);
    user-select: none;

    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  #intro .divider {
    margin: 0px 48px;
    border-right: 4px solid #e7e6eb;
    height: 192px;
  }

  #intro .background {
    background: url('../img/hero-background-1.png');
    background-repeat: repeat-x;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    min-height: 920px;
  }

  #intro .overlay {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100vh;
    min-height: 920px;
  }

  #intro .description {
    max-width: 380px;
    text-align: left;
  }

  #intro .description p {
    line-height: 44px;
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #858199;
  }

  #video-modal {
    height: 0;
    width: 0;
    transition: opacity 300ms ease;
  }

  .active#video-modal {
    height: 100%;
    width: 100%;
  }

  .button-options {
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
  }

  .button-options .button {
    transition: all 0.07s ease-in-out;
    margin: 8px 12px;
    padding: 14px 0;
    border-radius: 30.5px;
    font-size: 24px;
    color: #ffffff;
    width: 320px;
    font-weight: 800;
    text-align: center;
  }

  .button-options .button:hover {
    transform: scale3d(1.04, 1.04, 1.04);
  }
  .button-options .button:active {
    transform: scale3d(0.99, 0.99, 0.99);
  }

  .button-options .button.dashboard {
    background: linear-gradient(93.46deg, #dd0cf3 0%, #e44cf4 100%);
    border: 3px solid #cd3bdc;
    box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.15);
    border-radius: 30.5px;
    margin-top: 10px;
  }

  .button-options .button.dashboard:hover {
    background-color: #a116b7;
    box-shadow: 0 10px 8px -5px rgba(0, 0, 0, 0.15);
  }

  .button-options .button.discord {
    background: linear-gradient(93.46deg, #8d11ee 0%, #a246eb 100%);
    border: 3px solid #903dd4;
    box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.15);
    border-radius: 30.5px;
    margin-top: 10px;
  }

  .button-options .button.discord:hover {
    background-color: #a116b7;
    box-shadow: 0 10px 8px -5px rgba(0, 0, 0, 0.15);
  }

  .view-code {
    box-sizing: border-box;
    border: 2px solid #ffffff;
  }

  .view-code:hover {
    border: 2px solid #a116b7;
  }

  .music-player {
    transition: all 0.07s ease-in-out;
    border-radius: 35.5px;
    background-color: #ffffff;
    box-shadow: 0 5px 8px -2px rgba(0, 0, 0, 0.2);
    padding: 22px 36px;

    font-size: 20px;
    font-weight: bold;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .music-player:hover {
    box-shadow: 0 15px 15px -2px rgba(0, 0, 0, 0.25);
    transform: scale3d(1.04, 1.04, 1.04);
  }

  .music-player:active {
    transform: scale3d(0.99, 0.99, 0.99);
  }

  .music-player .player-description {
    color: #858199;
    margin-right: 8px;
  }

  .music-player .click {
    color: #b031e7;
    display: inline-flex;
    align-items: center;
  }

  .music-player .click:hover {
    text-decoration: underline;
  }

  .icon-open {
    margin-left: 16px;
  }

  @media screen and (max-width: 1019px) {
    .main-header .menu > div > ul > li > a:not(.standard-button) {
      color: #fff;
      letter-spacing: 8px;
      font-size: 23px;
      text-transform: uppercase;
    }

    .small-logo {
      display: block;
    }
    .large-logo {
      display: none;
    }

    #intro {
      overflow: hidden;
      height: calc(100vh - 115px);
      min-height: 615px;
    }

    #intro .header {
      top: 32px;
      height: calc(100vh - 115px);
    }

    #intro .header .main-content {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 40px;
    }

    #intro .header .main-content h2 {
      flex: 1 0;
      text-align: center;
      font-size: 48px;
      line-height: inherit;
      margin-bottom: 12px;
    }

    #intro .divider {
      display: none;
    }

    #intro .background {
      background: url('../img/hero-background-1.png');
      background-repeat: repeat-x;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(100vh - 115px);
    }

    #intro .overlay {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: calc(100vh - 115px);
    }

    #intro .description {
      max-width: 100%;
      text-align: center;
      padding: 0px 32px;
    }

    #intro .description p {
      line-height: inherit;
      font-size: 24px;
    }

    .button-options {
      flex-wrap: wrap;
      margin-bottom: 32px;
      flex: inherit;
    }
    .button-options .button {
      font-size: 16px;
    }

    .music-player {
      font-size: 15px;
      padding: 16px 20px;
    }

    .icon-open {
      height: 16px;
      margin-left: 4px;
    }
  }

  @media screen and (min-width: 1020px) {
    #intro .animation {
      bottom: -520px;
    }

    #value {
      padding-top: 500px;
    }
  }
}
