.team {
  @media screen and (min-width: 1020px) {
    .row.two-columns.leadership {
      justify-content: center !important;
    }
  }

  .row.three-columns {
    justify-content: center !important;
  }

  #investors ul {
    justify-content: center !important;
  }

  @media screen and (max-width: 1019px) {
    #person-modal {
      display: none;
    }
  }

  .coinbase {
    height: 28px;
    padding: 4px;
  }
  .blockchange {
    height: 29px;
    padding: 4px;
  }
  .multicoin {
    height: 29px;
    padding: 4px;
  }
  .standard {
    height: 35px;
    padding: 4px;
  }
  .binance {
    height: 29px;
    padding: 4px;
  }
  @media screen and (max-width: 1019px) {
    .last-item {
      border-right: none !important;
    }
  }
  @media screen and (min-width: 1020px) {
    .last-item {
      border-right: 1px solid #e7e6eb;
    }
  }
}
